<%- include("../boilerplate/boilerplate") %>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwT" crossorigin="anonymous">

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-U9Yy83RMu9Y1zNqdLrAAhR6vqowdRLlPHb7OtTwC10pPa3hYimZV+BNEjDYbOAI5" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<body>
  <% if (success && success.length){ %>
            
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <div class="form">
        <form action="/registrate" method="post" class="needs-validation regstrate-form">
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Doctor:</label>
                <input type="text" class="form-control" id="validationCustom01" value="<%= DocProf %>" required disabled>
                <div class="invalid-feedback">
                  Please add the doctor prof!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Doctor's name:</label>
                <input type="text" class="form-control" id="validationCustom01" value="<%= docName %>" required disabled>
                <div class="valid-feedback">
                  Please add the doctor name!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Appointment date:</label>
                <input type="text" class="form-control" id="validationCustom01" value="<%= date %>" required disabled>
                <div class="valid-feedback">
                 Please add the appointment date!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Patient's name:</label>
                <input type="text" class="form-control" id="validationCustom01"  required>
                <div class="valid-feedback">
                  Please add the Patient's name !
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Contact Number:</label>
                <input type="number" class="form-control" id="validationCustom01"  required>
                <div class="valid-feedback">
                  Please add the contact number !
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Address:</label>
                <input type="text" class="form-control" id="validationCustom01"  required>
                <div class="valid-feedback">
                  Please add the Address !
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>